# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.OurCoolGame.iml
# Datasource local storage ignored files
/../../../../../../../:\programming\git\crispy-disco\.idea\.idea.OurCoolGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
